@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #041f0f !important;   
  color: #e4e4e7;
  min-height: 100vh;
}

main {
  background-color: transparent !important;
}

body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}